---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";



// Base styles ===========================================================================

a {
  text-decoration: underline;
}

a:hover, a:active {
  filter: brightness(1.1);
  text-decoration: underline;
}



// Images ================================================================================

.logo {
  width: 200px;
}

.icon {
  width: 11px;
  margin-right: 0px;
  vertical-align: baseline;
}



// Colors ================================================================================

$themeColours: (
  "1":   #D41438,
  "2":   #F01F31,
  "3":   #FF355E,
  "4":   #F76821,
  "5":   #FA7822,
  "6":   #FF8930,
  "7":   #FFBE00,
  "8":   #FECC26,
  "9":   #FED945,
  "10":  #1DB40F,
  "11":  #3ACA0A,
  "12":  #5ADD5A,
  "13":  #3457BE,
  "14":  #457BF5,
  "15":  #00A2FF,
  "16":  #A639DC,
  "17":  #C94CFD,
  "18":  #EC7EF6,
  "19":  #808080,
);

@each $themeColour, $i in $themeColours {
  .c-bg- {
    &#{$themeColour} {
      background-color: $i;
    }	
  }
}

.c-div {
  color: #FFFFFF;
  h5 {
    border-bottom:  3px solid #FFFFFF;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
  }
  p:first-of-type { 
    margin-top: 1rem;
  }
  a {
    color: #FFFFFF;
    text-decoration: none;
  }
  a:hover, a:active {
    opacity: 0.75;
    text-decoration: none;
  }
}

.c-list {
  p {
    font-size: 0.875rem;
  }
  .badge {
    vertical-align: text-bottom;
    color: #FFFFFF !important;
  }
  a, a:hover, a:active {
    text-decoration: none;
  }
}



// Typeahead =============================================================================

.twitter-typeahead, .tt-hint, .tt-input, .tt-menu {
  width: 100%;
}

.tt-hint {
  color: #999;
}

.tt-menu {
  @media (max-width: 576px) {
    max-height: 120px;
  }
  max-height: 240px;
  overflow-y: auto;
  color: #666;
  margin-top: 3px;
  padding: 3px 0px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 0px 6px 2px 6px;
}

.empty-message {
  padding: 6px 12px;
}

.tt-suggestion.tt-cursor, .tt-suggestion:hover {
  background-color: #EEE;
}



// Social buttons ========================================================================

.btn-social, .btn-social:hover, .btn-social:active, .btn-social:visited {
  color: #FFFFFF;
  text-decoration: none;
}

.btn-social {
  svg {
    width: 1rem;
    height: 1rem;
    vertical-align: text-bottom;
    path {
      fill: #FFFFFF;
    }
  }
}

.btn-fb {
  background-color: #4468B0;
}

.btn-fb:hover {
  background-color: #5985db;  
}

.btn-tw {
  background-color: #2796DD;
}

.btn-tw:hover {
  background-color: #4eb4f4;
}

.btn-li {
  background-color: #1178B3;
} 

.btn-li:hover {
  background-color: #3b8ebf;
} 