{% assign items = site.data.links | sort: "date" | reverse %} 
{% assign latest_date = items[0].date | date: "%B %Y" %}

<p class="text-muted"><small>
Contact: <a href="mailto:hello@deepindex.org">hello@deepindex.org</a><br />
Twitter: <a href="https://twitter.com/deepindex">@deepindex</a><br />
Curated by <a href="https://twitter.com/clry2">@clry2</a> and last updated {{ latest_date }}
</small></p>

<p><small>Help improve DeepIndex by suggesting new examples for us to include! <a href="https://github.com/deepindex/deepindex.github.io/blob/master/README.md">Find out more</a> &rarr;</small></p>


<p>
{% include social-buttons.html %}
</p>